.project-card {
  border: 4px solid #7D6B58;
  border-radius: 10px;
  width: 350px;
  height: 550px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px #7d6b582b;
}

.landing-image {
  height: 30%;
  border-bottom: 4px solid #A0BAA6;
}

.landing-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.web-info {
  height: 70%;
}

.web-about {
  text-align: justify;
}

.tool-used {
  font-size: 14px;
  color: #7D6B58;
  text-align: center;
}

/*button-brown*/
.btn-brown {
  border: 3px solid #7D6B58;
  border-radius: 10px;
  color: #7D6B58;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}

.btn-brown:hover {
  color: #A0BAA6;
  border: 3px solid #A0BAA6;
  box-shadow: 3px 3px 10px #7d6b582b;
}
