@media (min-width: 992px) {
  .about-text h1 {
    font-size: 64px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about-text h1 {
    font-size: 42px;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text h3 {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .about-text h2 {
    font-size: 18px;
  }

  .about-text h3 {
    font-size: 16px;
  }
}

#about {
  padding: 100px 0;
}

.about-text {
  background-color: #FFD6D6;
  padding: 65px;
  border-radius: 10px;
}

.about-text h1 {
  color: #A0BAA6;
  margin: 0;
  font-weight: bolder;
}

.about-text h3 {
  margin-bottom: 50px;
}

.about-text a {
  text-decoration: none;
  color: #A0BAA6;
}

.about-text a:hover {
  text-decoration: none;
  color: #89A991;
}

.about-text svg {
  font-size: 25px;
}

.linkedin-link {
  width: 290px;
}
