@media (min-width: 992px) {
  .about-text h1 {
    font-size: 56px;
  }

  .about-text h2 {
    font-size: 42px;
  }

  .about-text h4 {
    font-size: 24px;
  }

  .about-text {
    border-radius: 10px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about-text h1 {
    font-size: 48px;
  }

  .about-text h2 {
    font-size: 36px;
  }

  .about-text h4 {
    font-size: 22px;
  }

  .about-text {
    border-radius: 10px;
  }
}

@media (max-width: 575.98px) {
  .about-text h1 {
    font-size: 42px;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-text h4 {
    font-size: 20px;
  }

  #about {
    background-color: #A0BAA6;
  }

  .about-text {
    border-radius: 0;
  }
}

#about {
  padding: 100px 0;
  min-height: 100vh;
}

.about-text {
  background-color: #A0BAA6;
  padding: 50px;
}

.about-text h2 {
  color: #678E72;
}

.about-text h1,
.about-text h4 {
  color: #FFF6EB;
}

.about-text h1 {
  margin: 0;
}

.about-text h4 {
  margin-bottom: 50px;
}

.about-text a {
  color: #678E72;
}

.about-text a:hover {
  color: #18231B;
}

.linkedin-link svg {
  font-size: 24px;
}

.linkedin-link p {
  display: inline-block;
  padding-left: 5px;
  font-size: 24px;
  margin-bottom: 0;
  vertical-align: middle;
}
