@media (min-width: 992px) {
  #banner {
    padding: 100px 0;
  }

  .center-content h1 {
    font-size: 64px;
  }

  .vertical-text {
    transform: rotate(-90deg);
    bottom: 130px;
    left: -210px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  #banner {
    padding: 200px 0;
  }

  .center-content h1 {
    font-size: 42px;
  }

  .center-content h2 {
    font-size: 24px;
  }

  .center-content h3 {
    font-size: 20px;
  }

  .about-button p {
    font-size: 8px;
  }

  .vertical-text {
    bottom: -120px;
    left: 0;
  }
}

@media (max-width: 575.98px) {
  #banner {
    padding: 200px 0;
  }

  .center-content h2 {
    font-size: 18px;
  }

  .center-content h3 {
    font-size: 16px;
  }

  .about-button p {
    font-size: 6px;
  }

  .vertical-text {
    bottom: -120px;
    left: 0;
  }
}

#header {
  height: 100vh;
}

#banner {
  background-color: #FFF6EB;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.center-content {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: center;
}

.pink-image {
  width: 82%;
  position: relative;
  display: inline-block;
}

.center-content img {
  width: 100%;
}

.vertical-text {
  position: absolute;
  text-shadow: 1px 1px #849989;
}

.center-content h2 {
  top: 0;
  left: 0;
  position: absolute;
}

.center-content h1,
.center-content h2,
.center-content h3 {
  color: #A0BAA6;
  font-weight: bolder;
}

/* Button */
.about-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #A0BAA6;
  border-radius: 50%;
  width: 18%;
  height: 30%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bolder;
  color: #FFF6EB;
  box-shadow: 2px 2px 5px #84998977;
}

.about-button:hover {
  background-color: #89A991;
  color: #FFF6EB;
}

.about-button p {
  margin: 0;
}
