main {
  background-color: #FFF6EB;
  color: #271619;
}

p {
  font-size: 20px;
}

h1 {
  font-family: 'Lora', serif;
}

h2, h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
}

p {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
